@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Roboto+Slab:wght@200;300;400&family=Roboto:wght@100&display=swap");
/*Condicionales*/
body {
  background-color: #faf7f7; }

/*BUCLES*/
h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 2.4rem; }

/*MAPS*/
.facebook {
  color: #4990e1; }

.instagram {
  color: #3c41ca; }

/*EXTEND*/
.primerEstilo, .segundoEstilo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: right; }

.segundoEstilo {
  font-size: 35px; }

/*LOS MIXIN PUEDEN SER CON PARAMETROS O SIN PARAMETROS*/
/*MIXIN SIN PARAMETROS*/
/* MIXIN CON PARAMETROS*/
.parrafosConParametro {
  font-size: 50px;
  text-align: right; }

* {
  margin: 0;
  padding: 0; }

/* COLOR */
body {
  font-family: 'Roboto Slab', serif; }

h1 {
  background-color: #712a49;
  text-transform: uppercase;
  color: #e4dcdc;
  text-align: center;
  font-size: 3.5rem;
  border: 4px #f1e8a1 solid; }

footer {
  color: #9C6459;
  font-weight: bold;
  display: flex;
  text-align: left; }

h3 {
  color: #9C6459;
  font-size: 2rem;
  text-align: center; }

h4 {
  color: #9C6459;
  font-size: 1.5rem;
  text-align: center; }

section {
  color: #9C6459; }

/* TEXTO */
h2 {
  font-size: 2rem;
  text-align: center; }

section {
  font-size: 2rem;
  display: flex;
  justify-content: center; }

a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #bb3030;
  display: inline;
  font-size: 1rem; }

li {
  list-style-type: none;
  display: inline-block;
  text-align: center; }

.texto {
  font-size: 0.9rem;
  margin: auto;
  text-align: center; }

.logo {
  width: 100px; }

.imagen {
  width: 600px;
  text-align: center; }

.bienvenido {
  background-color: #712a49;
  text-align: center;
  color: #e4dcdc;
  margin: auto; }

.imagenesDeMerey {
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.semillaDeMerey {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.botonWhatsapp img {
  width: 70px;
  position: fixed;
  bottom: 20px;
  right: 10px; }

.textoPrincipal {
  font-size: 1rem;
  color: black;
  font-weight: bold;
  margin: auto; }

.aliados {
  width: 150px; }

.merey {
  width: 1000px;
  justify-content: center;
  text-align: center; }

.carrusel {
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px; }

.colorNavbar {
  background-color: rgba(238, 232, 232, 0.838); }

.fuentes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: #712a49; }

/* MODAL */
.colorBoton {
  background-color: #712a49;
  color: aliceblue; }

.row {
  border: 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: black; }

.textoContacto {
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
  text-align: center; }

/*responsive notas*/
@media only screen and (max-width: 767px) {
  h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px; } }

@media only screen and (min-width: 768px) and (max-width: 970px) {
  h1 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px; } }

.maps {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px; }

.cuestionario {
  width: 80%;
  margin: auto;
  margin-top: 20px; }
